<div class="users_list_page w-100">
  <!-- header -->
  <div class="row header m-0 mb-4 w-100">
    <div class="user col-10">User</div>
    <div class="actions col-2">actions</div>
  </div>
  <!-- header -->
  <!-- user -->
  <div class="content user w-100 py-2">
    <div class="row w-100 m-0 py-2 d-flex align-items-center">
      <div class="user col-md-10 col-9 d-flex align-items-center">
        <img src="" alt="" />
        <p class="name mx-3">name</p>
      </div>
      <div class="actions col-md-1 col-2 d-flex align-items-center">
        <i class="edit outlined fa-solid fa-pen"> </i>
        <i class="trash outlined fa-solid fa-trash mx-2"> </i>
      </div>
      <div class="col-1 d-flex justify-content-end">
        <i class="fa-solid fa-chevron-right"></i>
      </div>
    </div>
  </div>
  <!-- user End -->
</div>
