<div class="users_dialog w-100">
  <!-- Toast -->
  <p-toast></p-toast>
  <!-- Toast End-->
  <p-dialog
    [(visible)]="visible"
    [modal]="true"
    [draggable]="false"
    [resizable]="false"
  >
    <!-- Add and Update Form -->
    <div
      class="add_update w-100 h-100 d-flex flex-column align-items-center"
      *ngIf="isAdd || isUpdate"
    >
      <!-- Avatar -->
      <div class="avatar">
        <i class="fa-solid fa-user" *ngIf="isAdd"></i>
        <img [src]="user.avatar" alt="" *ngIf="isUpdate" />
      </div>
      <!-- Avatar End -->
      <!-- Form -->
      <form [formGroup]="userForm" class="w-100">
        <!-- name -->
        <div class="form_item mb-3">
          <label for="name">Name</label>
          <input type="text" placeholder="Name" formControlName="name" />
          <!-- Validations -->
          <ng-container
            *ngIf="
              userForm.controls['name'].invalid &&
              userForm.controls['name'].touched
            "
          >
            <div
              *ngIf="userForm.controls['name'].errors?.['required']"
              class="p-error"
            >
              Required Field
            </div>
            <div
              *ngIf="userForm.controls['name'].errors?.['custom']"
              class="p-error"
            >
              {{userForm.controls['name'].errors?.['custom'] }}
            </div>
          </ng-container>
          <!-- Validations End -->
        </div>

        <!-- Name End -->
        <!-- job -->
        <div class="form_item mb-3">
          <label for="job">Job</label>
          <input
            type="text"
            placeholder="job title.."
            Title
            formControlName="job"
          />
          <!-- Validations -->
          <ng-container
            *ngIf="
              userForm.controls['job'].invalid &&
              userForm.controls['job'].touched
            "
          >
            <div
              *ngIf="userForm.controls['job'].errors?.['required']"
              class="p-error"
            >
              Required Field
            </div>
            <div
              *ngIf="userForm.controls['job'].errors?.['custom']"
              class="p-error"
            >
              {{userForm.controls['job'].errors?.['custom'] }}
            </div>
          </ng-container>
          <!-- Validations End -->
        </div>
        <!-- job End -->
        <!-- Action Buttons -->
        <div class="btns w-100 d-flex justify-content-between">
          <button class="cancel outlined" (click)="cancel()">cancel</button>
          <button class="action filled text-center" (click)="onSubmit()">
            {{ isAdd ? "Add" : "Save" }}
            <div *ngIf="loading" class="spinner-border spinner-border-sm">
              <span class="visually-hidden">Loading...</span>
            </div>
          </button>
        </div>
        <!-- Action Buttons End-->
      </form>
      <!-- Form End -->
    </div>
    <!-- Add and Update Form End -->

    <!-- Delete -->
    <div
      class="delete w-100 h-100 d-flex flex-column align-items-center"
      *ngIf="isDelete"
    >
      <p class="delete_confirmation">Are you sure you want to delete</p>
      <h4 class="name my-3">{{ user.first_name }} {{ user.last_name }}</h4>
      <!-- Action Buttons -->
      <div class="btns w-100 d-flex justify-content-between">
        <button class="cancel outlined" (click)="cancel()">No</button>
        <button class="action filled text-center" (click)="deleteUser()">
          Yes
          <div *ngIf="loading" class="spinner-border spinner-border-sm">
            <span class="visually-hidden">Loading...</span>
          </div>
        </button>
      </div>
      <!-- Action Buttons End-->
    </div>
    <!-- Delete End -->
  </p-dialog>
</div>
