<div class="nav_bar w-100 py-3">
  <div class="container d-flex align-items-center justify-content-between">
    <!-- Logo -->
    <div class="logo d-flex align-items-center">
      <img src="../../../../../assets/images/logo.png" alt="" />
      <p class="logo_title mx-2">Spaces</p>
    </div>
    <!-- Logo End -->
    <!-- Pages -->
    <div class="pages d-flex align-items-center">
      <!-- Nav Items -->
      <div
        class="nav_item py-2 mx-1"
        [ngClass]="item.active ? 'filled' : ''"
        *ngFor="let item of navItems"
        (click)="changeStatus(item.title)"
      >
        {{ item.title }}
      </div>
      <!-- Nav Items End -->
    </div>
    <!-- Pages End  -->
  </div>
</div>
