@import "../../../../../assets/styles/variables/variables";

.nav_bar {
  box-shadow: #dcdcdc 0px 2px 5px;
  background-color: #fff;
  .logo {
    img {
      width: 2.8rem;
      height: 2.8rem;
    }
    .logo_title {
      color: $main_color;
      text-transform: uppercase;
      font-size: 1.3rem;
      font-weight: 400;
    }
  }
  .pages {
    .nav_item {
      text-transform: uppercase;
      font-size: 1rem;
      font-weight: 400;
      padding: 1.2rem;
      cursor: pointer;
      &:hover{
        background-color: #8d44ad8d;
        color: #fff;
        border-radius: 50px;
        box-shadow: #00000047 0px 2px 5px;

      }
    }
  }
}
