<div class="users_page w-100">
  <div class="bread_crumb py-2 mb-4 w-100">
    <div class="container">
      <p class="links"><span>Home</span> / <span>Dashboard</span></p>
      <!-- Page Details -->
      <div
        class="page_details d-flex align-items-center justify-content-between mt-3"
      >
        <h2>Users List</h2>
        <button class="filled px-2 d-flex align-items-center">
          <i class="pi pi-plus mx-1"></i>
          New User
        </button>
      </div>
      <!-- Page Details End -->
    </div>
  </div>
  <!-- Users List -->
  <div class="container users_list d-flex p-3">
    <app-users-list class="list w-100"></app-users-list>
    <!-- <app-user-details class="details"></app-user-details> -->
  </div>
  <!-- Users List End -->
</div>
