<div class="users_page w-100">
  <div class="bread_crumb py-2 mb-4 w-100">
    <div class="container">
      <p class="links"><span>Home</span> / <span>Dashboard</span></p>
      <!-- Page Details -->
      <div
        class="page_details d-flex align-items-center justify-content-between mt-3"
      >
        <h2>Users List</h2>
        <button class="filled px-2 d-flex align-items-center mx-1">
          <i class="pi pi-plus mx-1"></i>
          New User
        </button>
      </div>
      <!-- Page Details End -->
    </div>
  </div>
  <div class="container users_list d-flex p-3">
    <!-- users List -->
    <app-users-list
      (userId)="getUserId($event)"
      class="list"
      [selectedUserId]="userId"
      [ngClass]="userId == -1 ? 'w-100' : 'w-75'"
    ></app-users-list>
    <!-- users List End -->

    <!-- user details -->
    <app-user-details
      class="details"
      (closeDetails)="closeDetails()"
      [userId]="userId"
      [ngClass]="userId == -1 ? 'd-none' : 'w-25 '"
    ></app-user-details>
    <!-- user details End -->
  </div>
</div>
